.spellName{
    margin: 0 10px;
    line-height: 80px;
    border-bottom: 1px solid black;
}

.displayTable{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    overflow-y: scroll;
    max-height: calc(100% - (97px));
    scrollbar-color: rgb(144, 144, 144) rgb(212, 212, 212) ;
    scrollbar-width: thin;

    .tutText{
      text-align: center;
    }
}

.columnLeft {
    display:inline-block;
    vertical-align: top;
    width: 80%;
    height: 100%;
    background-color: rgb(233, 235, 236);
}

.columnRight {
    display:inline-block;
    vertical-align: top;
    width: calc(20% - (1px));
    height: 100%;
    background-color: rgb(222, 232, 236);
    border-left: 1px solid black;
}

.firstCol {
    width: 20%;
}
.midCol {
    float: left;
    left: 50%;
    width: 20%;
}
  
.icon {
    width:50px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height:100%;
}

.filter {
  transition: background-color .3s ease-out;
  border-radius: 5px;
  color: #3b3b3b;
  background: #efefef;
  height: 30px;
  width: calc(100% - 8px);
  display: flex;
  margin: 4px;

  .icon-padding {
    display: block;
    float: left;

    color: #3b3b3b;
    margin: auto 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  input {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    //font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #3b3b3b;
    background-color: #efefef;
    border: none;
    transition: background-color .3s ease-out;
    margin-right: 5px;
    margin-top: 0;
    padding: 0px
  }

  input:focus {
    outline: none;
  }
}

.filter-focused {
  background-color: #ffffff;
  color: #333333;

  input {
    background-color: #ffffff;
    color: #333333;
  }
}

.list{
    padding: 0;
    height: calc(100% - 38px);
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: rgb(144, 144, 144) rgb(212, 212, 212) ;
    scrollbar-width: thin;
}

.item {
    height: 30px;
    background-color: rgb(222, 232, 236);
}
.item:nth-child(even) {
    background-color: rgb(188, 213, 236);   
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

td{
    line-height: 20px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 7px;
  background: rgb(212, 212, 212);
}
   
::-webkit-scrollbar-thumb {
  background:  rgb(144, 144, 144);
  -webkit-border-radius: 1px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

