
<div class="row">
  <div class="columnLeft"  *ngIf="spell==null">
    <h1 style="text-align:center">Spells</h1>
    <div class="displayTable">
      <h2>Please select a spell from the list on the right to begin</h2>
      <p class="tutText">Use the spell filter to filter by name</p>
    </div>
  </div>
  <div class="columnLeft"  *ngIf="spell!=null">
    <div  style="text-align:center">
      <h1 class="spellName">
        {{ spell.name }}
      </h1>
    </div>
    <div class="displayTable">
      <table>
        <tr>
            <td><h3>Level</h3></td>
            <td><h2>{{spell.level}}</h2></td>
        </tr>
        <tr>
          <td><h3>Ritual</h3></td>
          <td>
            <mat-icon  *ngIf="spell.ritual=='yes'" class="icon">brightness_high</mat-icon> 
            <h2  *ngIf="spell.ritual!='yes'">-</h2>
          </td>
          <td><h3>Concentration</h3></td>
          <td>
            <mat-icon  *ngIf="spell.concentration=='yes'" class="icon">school</mat-icon> 
            <h2  *ngIf="spell.concentration!='yes'">-</h2>
          </td>
        </tr>
        <tr>
          <td class="firstCol"><h3>Components</h3></td>
          <td>
            <mat-icon *ngIf="spell.somatic==true" class="icon" title="Somatic">pan_tool</mat-icon>
            <mat-icon *ngIf="spell.verbal==true" class="icon" title="Verbal">record_voice_over</mat-icon>
            <mat-icon *ngIf="spell.materials==true" class="icon" title="Material">redeem</mat-icon>
          </td>
        </tr>
        <tr>
            <td class="firstCol"><h3>Materials</h3></td>
            <td  *ngIf="spell.materials==true" colspan="3"><p>{{spell.material}}</p></td>
            <td  *ngIf="spell.materials!=true"><h2>-</h2></td>
        </tr>
        <tr>
            <td width="25%" class="firstCol"><h3>Casting Time</h3></td>
            <td width="25%"><p>{{spell.casting_time}}</p></td>
            <td width="25%" class="midCol"><h3>Duration</h3></td>
            <td width="calc(25% - (8px))"><p>{{spell.duration}}</p></td>
        </tr>
        <tr>
            <td class="firstCol"><h3>Range</h3></td>
            <td><p>{{spell.range}}</p></td>
        </tr>

        <tr>
            <td class="firstCol" style="vertical-align: top;"><h3 >Description</h3></td>
            <td colspan="3"><p *ngFor="let desc of spell.desc">{{desc}}</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="columnRight">
    <div class="filter" [class.filter-focused]="focused">
      <mat-icon
        class="icon-padding"
        >filter_list</mat-icon>
      <input
        placeholder="Filter spells"
        (blur)="focused=false"
        (focus)="focused=true"
        matInput
        autocomplete="off"
        [(ngModel)]="spellName">
    </div>
    <mat-action-list class="list">
        <mat-list-item class="item" *ngFor="let spell of spellList?.results | spellFilter : spellName" (click)="getSpell(spell.url)">{{spell?.name}}</mat-list-item>
    </mat-action-list>
  </div>
</div>
