.d20{
    height: 100px;
    
    display: inline-block;
    margin-right: 3%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    font-weight: 100;
    font-size: 36px;
    margin-left: 32px;
    display: inline-block;
    flex: 1 0 auto;
}