<div class="nav">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="navButton" mat-flat-button (click)="changeContent('spells')">Spells</mat-button-toggle>
        <mat-button-toggle class="navButton" mat-flat-button (click)="changeContent('classes')">Classes</mat-button-toggle>
      </mat-button-toggle-group>
</div>
