/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,700');

html, body{
    height: 100%;
    width:100%;
    background-color: #fdfdfd;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  height: 12px;
  width: 7px;
  background: rgb(212, 212, 212);
}

::-webkit-scrollbar-thumb {
  background:  rgb(144, 144, 144);
  -webkit-border-radius: 1px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}